body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  list-style: none;
  color: aliceblue;
  float: left;
  padding: 33px 20px;
}

.header {
  background-color: cornflowerblue;
  height: 100px;
}

.header-logo {
  float: left;
  color: aliceblue;
  font-size: 36px;
  padding: 20px 40px;
}

.main {
  background-color: rgb(135, 170, 235);
  height: 800px;
}

.footer {
  background-color: rgb(39, 78, 150);
  height: 100px;
}
