:root {
  --primary-color: #6b4037;
  --secondary-color: #d0b4ad;
  --theconday-color: #2d2726;
  --font-color: #faede7;
}

body {
  margin: 0;
  font-family: "Freestyle Script", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

#header-font {
  color: var(--primary-color);
}
#pink-background {
  background-color: var(--secondary-color);
}

#next {
  position: absolute;
  top: 50%;
  right: 20px;
  color: var(--theconday-color);
  font-size: 20px;
}

#return {
  position: absolute;
  top: 50%;
  left: 20px;
  color: var(--theconday-color);
  font-size: 20px;
}

.logo-size {
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.container {
  width: 400px;
  padding: 0 15px;
  margin: 50px 150px;
}

.top-warpper {
  padding: 80px 0 200px 0;
  background-image: url(./image/beautiful-floral-frame-with-copyspace.jpg);
  color: var(--theconday-color);
  background-size: cover;
}

.container-Areas {
  width: 600px;
  padding: 0 15px;
  margin: 120px 150px;
}

.top-warpper-Areas {
  padding: 80px 0 200px 0;
  background-image: url(./image/pexels-ylanite-koppens-1883385.jpg);
  color: var(--theconday-color);
  background-size: cover;
}

.fixed-img {
  position: absolute;
  top: 150px;
  right: 150px;
}

.map-size {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.container-Aboutus {
  width: 600px;
  position: absolute;
  top: 150px;
  right: 20px;
}

.container-Aboutus1 {
  width: 600px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.img-Aboutus {
  top: 10px;
  left: -80px;
  width: 80%;
  position: absolute;
  z-index: -1;
  transform: rotate(-15deg);
  border-color: var(--font-color);
}

.top-warpper-Aboutus {
  color: var(--theconday-color);
}

.top-warpper-Aboutus1 {
  padding: 80px 0px 650px 0;
  background-image: url(./image/Home+Page+Image+Weddings.jpg);
  color: var(--theconday-color);
  background-size: cover;
}
