:root{
--primary-color: #6b4037;
--secondary-color: #d0b4ad;
--theconday-color: #2d2726;
}

#header-font {
  color: var(--primary-color);
}
#pink-background {
  background-color: var(--secondary-color);
}

body {
  margin: 0;
  font-family: "Freestyle Script", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

.logo-size {
  width: 100px;
  height: 60px;
  object-fit: contain;
}

.container {
  width: 400px;
  padding: 0 15px;
  margin: 50px 150px;
}

.top-warpper {
  padding: 80px 0 200px 0;
  background-image: url(./image/beautiful-floral-frame-with-copyspace.jpg);
  color: var(--theconday-color);
  background-size: cover;
}

.container-Areas {
  width: 600px;
  padding: 0 15px;
  margin: 120px 150px;
}

.top-warpper-Areas {
  padding: 80px 0 200px 0;
  background-image: url(./image/pexels-ylanite-koppens-1883385.jpg);
  color: var(--theconday-color);
  background-size: cover;
}

.fixed-img {
  position: fixed;
  top: 150px;
  right: 150px;
}

.map-size {
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.container-Aboutus {
  width: 600px;
  padding: 0 15px;
  margin: 130px 150px;
}

.top-warpper-Aboutus {
  position: relative;
  padding: 80px 0 200px 0;
  background-image: url(./image/FINAL_Cut_Flowers_credit-Stocksy.webp);
  color: var(--theconday-color);
  background-size: cover;
  transform: rotate(-45deg);
  z-index:-1;
}
