/* CSSとは、HTMLの要素に対して色、大きさ、
   配置などを指定し、ページをデザインするための言語です。*/
/* CSSは、HTMLとは別のファイルに記述します。 */

/* 文字の色を変えるcolorプロパティ */
/* 「color: #ff0000;」のように、16進数のカラーコードで色を指定します */
h1 {
  /* #ff0000":カラーコード */
  color: #ff0000;
}
p {
  color: #0000ff;
}

/*  文字の大きさを指定するにはfont-sizeプロパティを用います。
 font-sizeは、px(ピクセル)という単位を用いて指定します。  */
h1 {
  color: #ff0000;
  font-size: 10px;
}
p {
  color: #0000ff;
  font-size: 40px;
}

/* 文字の種類を変える
font-familyプロパティを用いると、フォントの種類を指定することができます。*/
h1 {
  font-family: serif;
}
p {
  font-family: "Avenir Next";
  /* => space があるとき、「"」が必要です。 */
}

/* 背景色を変えるbackground-colorプロパティ
  「#dddddd」のように同じ値が続く場合は、「#ddd」と省略できます。*/
h1 {
  background-color: #dddddd;
}
p {
  background-color: #ffd800;
}

/* 横幅、高さを変えるwidthプロパティ、heightプロパティ
px(ピクセル)という単位を用いて指定します。*/
h1 {
  width: 500px;
  height: 80px;
  background-color: #9de8ea;
}
img {
  width: 500px;
  height: 80px;
}

.selected {
  color: red;
}
/* classの場合はドットが必要で、タグの場合は必要ない  */

/* <li>要素にlist-styleプロパティを用いてnoneを指定すると、リストの先頭のマークを消すことができます。 */
li {
  list-style: none;
  float: left; /* float: left;を指定すると要素が左から順に横に並びます。 */
}

.logo1 {
  padding: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}
/* 省略形 */
.logo1 {
  padding: 20px 10px 20px 10px; /* top right bottom left */
}
.logo1 {
  padding: 20px 10px; /* top + bottom right + left */
}

li {
  float: right;
}

span {
  color: #ff0000;
}

.logo1 {
  border: 5px solid red;
}
.logo2 {
  border-bottom: 1px solid #333;
}

.logo1 {
  border: 3px solid #ff0000;
  padding: 10px;
  margin: 20px;
}
